@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
}

html, body {
    height: 100%;
}

body {
    background: #2c6082;
    color: white;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.bg {
    background: url('../img/bg-site-allan.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}
header {
    background: rgba(255, 255, 255, 0.20);
    border-radius: 0 0 10px 10px;
    border-bottom: rgba(255, 255, 255, 0.08) solid 1px;
    margin: 0 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    display: inline-block;
    padding: 6px 15px;
}
#chk-toggle {
    display: none;

}

#toggle {
    display: inline-block;
    padding: 11px;
}

#toggle span {
    display: block;
    width: 27px;
    height: 4px;
    background-color: white;
    margin: 4px;

}